.home {
  
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  main {

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .loading-pokeball {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-image: linear-gradient(rgb(255, 73, 73) 50%, white 50%);
        overflow: hidden;
        border: 5px solid black;
    
        &::before {
          content: ' ';
          background-color: black;
          height: 10%;
          width: 100%;
          display: block;
        }
    
        &::after {
          content: ' ';
          display: inline-block;
          width: 25%;
          height: 25%;
          background-color: white;
          border-radius: 50%;
          border: 10px solid black;
        }
    
        &::before, &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    
    #pokemon-grid {
      margin: 5px;
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    }
  
    .spin {
      animation: spin 5s linear 0s infinite;
    }
  
    @keyframes spin {
      from {transform: rotate(0)}
      to {transform: rotate(360deg)}
    }
  }
}