@import './variables.scss';

.pokemon-card {
  position: relative;
   background-image: linear-gradient($pokedex-edge-color, $pokedex-middle-color, $pokedex-edge-color);
  
  figure {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    img {
      width: 250px;
    }

    .invisible {
      opacity: 0;
    }

    .release {
      animation: release 2s ease-in-out;
<<<<<<< HEAD
      filter: contrast(0) sepia(1) hue-rotate(0deg) saturate(200);
=======
      filter: contrast(0) sepia(100%) hue-rotate(0deg) saturate(300) drop-shadow(0px 0px 10px rgb(255, 98, 0));
>>>>>>> 3307b95b5b2d72d82d24b9f7a09fc11921783c7d
      animation-fill-mode: forwards;
    }
    
    .show {
      animation: show 2s ease-in-out;
      animation-fill-mode: forwards;
    }

    figcaption {
      p {
        padding: 0;
        margin: 0;
        text-align: center;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      
    }
  }
  
  .disappear {
    animation: pokeball-disappear 1s ease-in;
    animation-fill-mode: forwards;
  }

  .pokeball {
    width: 100%;
    height: 100%;
    background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $pokeball-size;
    position: absolute;
  }
}

@keyframes release {
  0%{opacity: 0; transform: scale(0)}
  50%{opacity: 1; transform: scale(1)}
  100%{opacity: 0; transform: scale(1)}
}

@keyframes pokeball-disappear {
  0%{opacity: 1; transform: scale(1)}
  100%{opacity: 0; transform: scale(0)}
}

@keyframes show {
  0%{opacity: 0}
  50%{opacity: 0}
  100%{opacity: 1}
}